<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal" [routerLink]="['home']">Student List</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2" [routerLink]="['home']" routerLinkActive="active">Home</a>
    <a class="p-2" [routerLink]="['new']" routerLinkActive="active">Add Student</a>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
